doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href=require("./img/favicon.ico"))
    block title
      title Eurêkafé

  body(data-spy="scroll" data-target="#spy-wrap" data-offset="60")
    div#spy-wrap
      nav.navbar.navbar-expand-lg.navbar-light.d-flex.flex-row.justify-content-between.fixed-top#main-nav
        button.navbar-toggler#navtog(type="button"): span.navbar-toggler-icon
        a.navbar-brand(href="#main-wrapper")
          img.d-inline-block.align-top.mr-3.ml-lg-3(src=require("./img/logo.png"))
          | L'Eurêkafé
        

        div.collapse.navbar-collapse
          ul.nav.nav-pills#main-nav-pills(style="flex:1;")
            block section
          ul.navbar-nav#main-nav-social
            a.nav-link(href="https://www.facebook.com/EurekafeTLS/"): i.fa.fa-2x.fa-facebook-official(aria-hidden="true")
            a.nav-link(href="https://twitter.com/EurekafeTLS"): i.fa.fa-2x.fa-twitter-square(aria-hidden="true")
            a.nav-link(href=""): i.fa.fa-2x.fa-instagram(aria-hidden="true")
            a.nav-link(href=""): i.fa.fa-2x.fa-youtube(aria-hidden="true")

      div.bg-light#side-nav
        ul.nav.nav-pills.flex-column#side-nav-content(style="flex:1;")
          block section-sm

    div.container-fluid#main-wrapper
      block body
      

    footer.container-fluid.bg-light
      div.row
        div.col-12.col-lg-6.container
          nav.col-12.p-2.nav.align-items-center.justify-content-center#footer-text-link
            a.nav-item.nav-link(href="/about.html") À propos
            a.nav-item.nav-link(href="/faq.html") F.A.Q.
            a.nav-item.nav-link(href="/press.html") Presse
            a.nav-item.nav-link(href="/legal.html") Mention légales
          nav.col-12.p-2.nav.align-items-center.justify-content-center
            a.nav-item.mx-2(href="https://www.facebook.com/EurekafeTLS/"): i.fa.fa-2x.fa-facebook-official(aria-hidden="true")
            a.nav-item.mx-2(href="https://twitter.com/EurekafeTLS"): i.fa.fa-2x.fa-twitter-square(aria-hidden="true")
            a.nav-item.mx-2(href=""): i.fa.fa-2x.fa-instagram(aria-hidden="true")
            a.nav-item.mx-2(href=""): i.fa.fa-2x.fa-youtube(aria-hidden="true")
        div.col-12.col-lg-6
          form.container#news-form
            div.row.text-center
              h3.col.pt-3 S'abonner à la newsletter ?
            div.row.col-10.offset-1.col-lg-8.offset-lg-2
              div.input-group
                input.form-control(type="text" placeholder="mon email")
                span.input-group-btn
                  input.btn.btn-success(type="submit" value="Oui, avec plaisir")
              input.col-12.form-control.mb-3.no-group(type="text" placeholder="mon email")
              div.col-12.input-group.no-group
                input.btn.btn-sm.btn-success(type="submit" value="Oui, avec plaisir")

          
