doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="/" + require("./img/favicon.ico"))
    block title
      title Eurêkafé
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110964291-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111249000-1');

  body(data-spy="scroll" data-target="#spy-wrap" data-offset="64")
    div#spy-wrap
      nav.navbar.navbar-expand-lg.navbar-light.d-flex.flex-row.justify-content-between.fixed-top#main-nav
        button.navbar-toggler#navtog(type="button"): span.navbar-toggler-icon
        a.navbar-brand(href="www.eurekafe.fr/")
          img.d-inline-block.align-top.mr-3.ml-lg-3(src="/" + require("./img/logo.png"))
          | L'Eurêkafé
        

        div.collapse.navbar-collapse
          ul.nav.nav-pills#main-nav-pills(style="flex:1;")
            block section
          ul.navbar-nav#main-nav-social
            a.nav-link(href="https://www.facebook.com/EurekafeTLS/"  target="_blank"): i.fa.fa-2x.fa-facebook-official(aria-hidden="true")
            a.nav-link(href="https://twitter.com/EurekafeTLS"  target="_blank"): i.fa.fa-2x.fa-twitter-square(aria-hidden="true")

      div.bg-light#side-nav
        ul.nav.nav-pills.flex-column#side-nav-content(style="flex:1;")
          block section-sm

    block body      
    footer
      div.container
        div.row.pb-5.no-gutters
          div.col-12.order-md-3.col-md-6.gutters
            form.container#news-form(action="/newsletter" method="post")
              div.row.gofundme.pb-3
                p Soutenez nous sur &nbsp;
                  a(href="https://www.gofundme.com/eurekafe" target="_blank"): img(src=require("./img/icons/gofundme.jpg"))
              div.row.text-center
                p.col.pt-1.mb-1 S'abonner à la #[b newsletter] ?
              div.row
                div.input-group
                  input.form-control(type="text" name="mail" placeholder="Mon courriel" data-container="body" data-toggle="popover-mail" data-placement="top" data-content="Le format de votre courriel est invalide")
                  span.input-group-btn
                    input.btn.btn-primary(type="submit" value="Oui, avec plaisir")
                div.loader.pt-2: i.fa.fa-spinner.fa-spin.fa-fw

          div.col-6.order-md-1.col-md-3.pt-3.pt-md-0
            ul.pl-3.pl-md-5
              li.pb-2: span.separator Des questions ?
              li: a(href="/about.html") À propos
              li: a(href="/faq.html") F.A.Q.
              li: a(href="/press.html") Presse
              li: a(href="/legal.html") Mention légales
              
          div.col-6.order-md-3.col-md-3.pt-3.pt-md-0
            ul.pl-md-5
              li.pb-2: span.separator Suivez-nous :
              li: a(href="https://www.facebook.com/EurekafeTLS/" target="_blank") Facebook
              li: a(href="https://twitter.com/EurekafeTLS" target="_blank") Twitter
        div.row: div.col.text-center ©Eurêkafé 2017
        div#mail-popover


          
