
@font-face{
	font-family: 'font-title';
	src: url('./fonts/dfont-1.woff');
}

@font-face{
	font-family: 'font-text';
	src: url('./fonts/dfont-2.woff2');
}

@font-face{
	font-family: 'font-button';
	src: url('./fonts/dfont-4.woff2');
}

@font-face{
	font-family: 'font-alt';
	src: url('./fonts/dfont-5.woff2');
}