@import "./variables.scss";
@import "./font.scss";
@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

//Common support classes
.jumbotron {
	margin: 0;
}

.row.no-gutters {
	margin: 0 -15px;
}

h1, h2, h3, h4, h5, .nav-brand {
	font-family: "font-title";
}

.btn {
	font-family: "font-button";
}

.h-divider {
	display: block;
	border-bottom: 2px solid $black;
	width: 40%;
	margin: 10px auto;
}

.bg-white {
	background-color: $white;
}

.cali {
	font-family: "font-cali"
}

.alt-font {
	font-family: "font-alt";
}

p.alt-font {
	font-size: 1.2rem;
}

.zigzag {
	margin: -1px -15px;
	height: 10px;
}

.hide {
	display: none !important;
}

span.bg-text {
	background: $primary;
	color: $black;
}

.bubble-container {
	max-width: 100%;
	width: 72%;
	margin: 40px auto;
	padding: 40px;
	background: $white;
	border-radius: 40px;
	@media (max-width: 992px) {
		width: 95%;
		margin: 20px auto;
		padding: 20px;
		border-radius: 20px;
	}
}

.parallax-container {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}
.parallax {
	z-index: 990;
	position: absolute;
	top: -20%;
	left: -9999px;
	right: -9999px;
	margin: auto;
	width: 100%;
	min-height: 100%;
}

@media (max-width: 992px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.4rem;
	}
	h3, .h3 {
		font-size: 2.2rem;
	}
	h4 {
		font-size: 2rem;
	}
	.display-4 {
		font-size: 2.2rem;
	}
	p {
		font-size: 1.2rem;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 2.1rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.7rem;
	}
	.display-4 {
		font-size: 1.2rem;
	}
	h4 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1rem;
	}
}

//Global layout style
body {
	color: $black;
	min-height: 100vh;
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	@media (max-width: 1355px) {
		padding-top: 50px;
	}
}

#spy-wrap {
	#main-nav {
		@media (max-width: 1355px) {
			font-size: 1rem;
		}
		background: $white;
		padding: 3px 16px;
		border-bottom: 3px solid $fond-sombre;
		box-shadow: 0px 0px 20px;
		.navbar-toggler {
			text-align: center;
			line-height: 0.75;
			padding: 0.13rem 0.5rem 0.37rem 0.5rem;
		}
		.navbar-toggler-icon {
			width: 1rem;
			height: 1rem;
		}

		.navbar-brand {
			font-size: 2.2rem;
			padding: 0;
			img {
				height: 55px;
				width: 55px;
			}
			@media (max-width: 992px) {
				margin: auto;
			}
		}
		.nav-link {
			transition: .2s;
			font-size: 1rem;
			&:hover {
				text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			}
		}
		#main-nav-pills {
			.nav-link {
				padding: 4px 8px;
				border-radius: 0.25rem;
				border: 1px solid grey;
				box-shadow: 2px 2px 2px grey;
				&:hover {
					background-color: $fond-claire;
					box-shadow: 3px 3px 2px grey;
				}
			}
		}

		#main-nav-social {
			.nav-link {
				padding: 0 8px;
				&:hover {
					color: $primaire;
				}
			}
			@media (max-width: 992px) {
				display: none;
			}
		}
	}

	#side-nav {
		overflow: hidden;
		white-space: nowrap;
		display: none;
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
		padding-top: 80px;
		z-index: 1029;
		opacity: 0.9;
		&.collapsing {
		    -webkit-transition: none;
		    transition: none;
		    display: none;
		}
		ul {
			height: 100%;
		}
	}
}

#main-wrapper {
	width: 100%;
	flex: 1;
}

footer {
	width: 100vw;
	padding: 1vh 0 3vh 0;
	border-top: 3px solid $fond-sombre;
	box-shadow: 0px 0px 10px;
	z-index: 1001;
	.nav-link {
		padding: 0.2rem 0.3rem;
	}
	a {
		color: $black;
		transition: .2s;
	}
	a:hover {
		color: $primary;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	}
	#news-form {
		.no-group {
			display: none;
		}

		@media (max-width: 1200px) {
			.input-group {
				display: none;
			}
			.no-group {
				display: block;
				&.input-group {
					position: relative;
					height: 10vh;
					.btn {
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
		@media (max-width: 768px) {
			h3 {
				font-size: 1.8rem;
			}
		}
	}
}


//index elmts
#carousel {
	color: $white;
	background: black;
	height: 50vmin;
	.carousel-inner {
		height:100%;
		.carousel-item {
			height: 100%;
			overflow: hidden;
			background-repeat:no-repeat;
			background-position: center center;
			background-size: 100%;
			&>div {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				button {
					display: block;
					float: none;
					margin: 0 auto;
				}
			}
		}
		.carousel-control-prev, .carousel-control-next {
			background: $black;
			//background: rgba(0,0,0,0.5);
		}
		button {
			transition: .2s;
			color: $primary;
			background-color: transparent;
			border: 4px solid $primary;
			&:hover {
				background-color: $primary;
				color: $black;
			}
			&.dark {
				color: $black;
				background: $white;
				&:hover {
					background-color: $primary;
					color: $black;
				}
			}
		}
		.pos-abs-bl {
			position: absolute;
			left: 16%;
			bottom: 10%;
		}
	}
}

#activites {
	#pantoufle {
		padding-top: 8px;
		max-width: 180px;
		height: auto;
	}
	.middle {
		padding-top: 0.8rem;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.d-flex>img{
		margin: 0;
	}
}

#tarif-img {
	width: 80%;
	@media (min-width: 1200px) {
		width: 70%;
	}
	
}

#parallax-quote {
	height: 30vh;
	&>div {
		padding: 0;
		width: 100%;
		height: 100%;
	}
	.text-body {
		color: $white;
		position: relative;
		top: 15vh;
		transform: translateY(-50%);
		text-align: center;
		z-index: 1000;
		@media (max-width: 576px) {
			p {
				font-size: 1rem;
			}
		}
	}
}

#evt {
	p {
		font-size: 1.2rem;
	}
	div.container-fluid {
		width: 68%;
		@media (max-width:992px) {
			width: 75%;
		}
		@media (max-width:768px) {
			width: 100%;
		}
		&>.row {
			min-height: 40vmin;
		}
	}
	div.bg-img {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}

#part-list {
	width: 65%;
	margin: auto;
	padding: 20px;
	background: $white;
	border-radius: 40px;

	.partenaires-img {
		&>div{
			height: 16vmin;
		}
		img {
			max-width: 70%;
			max-height: 100%;
			position: relative;
			left: 50%;
			top: 8vmin;
			transform: translateY(-50%) translateX(-50%);
		}
	}
	@media (max-width: 992px) {
		width: 85%;
	}
	@media (max-width: 768px) {
		width: 95%;
		.partenaires-img img {
			max-width: 100%;
		}
	}	
}

#citations {
	@media (min-width: 992px) {
		div.container-fluid {
			width: 65%;
		}
	}
	
	img {
		height: 12rem;
		border: 5px solid $fond-sombre;
	}
	@media (max-width: 576px) {
		h3 {
			font-size: 1.8rem;
		}
	}
	i {
		color: $primaire;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	}
	.balloon {
		display: table;
		align-text: center;
		font-size: 1.6rem;
		margin: auto;
		padding: 20px;
	    width: 250px;
	    height: 150px;
	    background: $fond-claire;
	    border-radius: 20px;
	    position: relative;
	    text-align: center;
	}
	span {
		display: table-cell;
		vertical-align: middle;
	}
	.balloon .tip {
	    width: 0;
	    height: 0;
	    position: absolute;
	    right: 120px;
	    bottom: -20px;
	    border: solid 10px;
	    border-color: $fond-claire transparent transparent transparent;
	}
}



//old
#concept-old {
	@media (max-width: 576px) {
		h1 {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

#evt-old {
	.img-wrap {
		background: black;
		border-radius: 10px;
		margin: auto;
		width: 200px;
		height: 120px;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: auto;
	}
}

#horaires {
	b {
		font-weight: 900;
	}
	@media (max-width: 768px) {
		.display-2 {
			font-size: 4rem;
		}
	}
	@media (max-width: 576px) {
		.display-2 {
			font-size: 2.1rem;
		}
		.display-4 {
			font-size: 1.7rem;
		}
		.display-5 {
			font-size: 1.3rem;
		}
	}
}

#map iframe{
	width: 100%;
	height:100%;
	@media (max-width: 1200px) {
		min-height: 80vmin;
	}
}

#pres-video {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	iframe {
		width: 100%;
		height: 28.125vw;
		@media (max-width: 992px) {
			height: 56.25vw;
		}
	}
}