@import "./variables.scss";
@import "./font.scss";
@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

//Common support classes
img.darker {
	filter: alpha(0.8);
}

img.darkest {
	filter: alpha(0.5);
}

.jumbotron {
	margin: 0;
}

.row.no-gutters {
	margin: 0 -15px;
}

h1, h2, h3, h4, h5, .nav-brand {
	font-family: "font-title";
}

.btn {
	font-family: "font-button";
}

//Global layout style
body {
	min-height: 100vh;
	padding-top: 56px;
	display: flex;
	flex-direction: column;
}

#spy-wrap {
	#main-nav {
		background: $white;
		padding: 2px 16px 0 16px;
		border-bottom: 3px solid $fond-sombre;
		box-shadow: 0px 0px 20px;
		.navbar-toggler {
			text-align: center;
			line-height: 0.75;
			padding: 0.13rem 0.5rem 0.37rem 0.5rem;
		}
		.navbar-toggler-icon {
			width: 1rem;
			height: 1rem;
		}

		.navbar-brand {
			padding: 0;
			img {
				height: 45px;
				width: 45px;
			}
			@media (max-width: 992px) {
				margin: auto;
			}
		}
		.nav-link {
			transition: .2s;
			&:hover {
				text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			}
		}
		#main-nav-pills {
			.nav-link {
				padding: 4px 8px;
				border-radius: 0.25rem;
				border: 1px solid grey;
				box-shadow: 2px 2px 2px grey;
				&:hover {
					background-color: $fond-claire;
					box-shadow: 3px 3px 2px grey;
				}
			}
		}

		#main-nav-social {
			.nav-link {
				padding: 0 8px;
				&:hover {
					color: $primaire;
				}
			}
			@media (max-width: 992px) {
				display: none;
			}
		}
	}

	#side-nav {
		overflow: hidden;
		white-space: nowrap;
		display: none;
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
		padding-top: 80px;
		z-index: 1029;
		opacity: 0.9;
		&.collapsing {
		    -webkit-transition: none;
		    transition: none;
		    display: none;
		}
		ul {
			height: 100%;
		}
	}
}

#main-wrapper {
	width: 100%;
	flex: 1;
}

footer {
	padding: 1vh 0 5vh 0;
	border-top: 3px solid $fond-sombre;
	box-shadow: 0px 0px 10px;
	z-index: 1001;
	#footer-text-link a{
		text-decoration: underline;
	}
	a {
		color: $black;
		transition: .2s;
	}
	a:hover {
		color: $fond-alerte;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	}
	#news-form {
		.no-group {
			display: none;
		}

		@media (max-width: 1200px) {
			.input-group {
				display: none;
			}
			.no-group {
				display: block;
				&.input-group {
					position: relative;
					height: 10vh;
					.btn {
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
		@media (max-width: 768px) {
			h3 {
				font-size: 1.8rem;
			}
		}
	}
}


//index elmts
#carousel {
	background: black;
	height: 70vmin;
	.carousel-control-prev, .carousel-control-next {
		background: $black;
		//background: rgba(0,0,0,0.5);
	}
	.carousel-item {
		height: 100%;
		overflow: hidden;
	}
	.carousel-button {
		z-index: 1030;
		position: absolute;
		left: 16%;
		bottom: 10%;
	}
	img {
		width: 100%;
		position: relative;
		top: 35vmin;
		transform: translateY(-50%);
	}
}

#pres-video {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	iframe {
		width: 100%;
		height: 28.125vw;
		@media (max-width: 992px) {
			height: 56.25vw;
		}
	}
}

#concept {
	h3 {
		font-family: "font-cali" !important;
	}
	@media (max-width: 576px) {
		h1 {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

#evt {
	.img-wrap {
		background: black;
		border-radius: 10px;
		margin: auto;
		width: 200px;
		height: 120px;
		overflow: hidden;
	}
	img {
		width: 100%;
		height: auto;
	}
}
@media (max-width: 576px) {
	#activite h3 {
		font-size: 2rem;
	}
}

#acti {
	i {
		font-size: 6rem;
	}
}

#citations {
	img {
		height: 8rem;
		border: 5px solid $fond-sombre;
	}
	@media (max-width: 576px) {
		h3 {
			font-size: 1.8rem;
		}
	}
	i {
		color: $primaire;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	}
	.balloon {
		display: table;
		align-text: center;
		font-size: 1.2rem;
		margin: auto;
		padding: 20px;
	    width: 250px;
	    height: 150px;
	    background: #fff;
	    border-radius: 20px;
	    position: relative;
	    text-align: center;
	}
	span {
		display: table-cell;
		vertical-align: middle;
	}
	.balloon .tip {
	    width: 0;
	    height: 0;
	    position: absolute;
	    right: 120px;
	    bottom: -20px;
	    border: solid 10px;
	    border-color: #fff transparent transparent transparent;
	}
}

@media (max-width: 576px) {
	#partenaires h2 {
		font-size: 2rem;
	}
}

.partenaires-img {
	min-height: 32vmin;
	margin-top: -30px;
	div{
		height: 100%
	}
	img {
		max-width: 70%;
		max-height: 100%;
		position: relative;
		top: 16vmin;
		transform: translateY(-50%);
	}
	@media (min-width: 576px) {
		&.md-hide {
			display: none;
		}
	}
	@media (max-width: 576px) {
		.sm-hide {
			display: none;
		}
	}
}

#tarifs {
	background: $white;
	img {
		max-width: 80%;
	}
	@media (max-width: 768px) {
		.display-4 {
			font-size: 3rem;
		}
	}
	@media (max-width: 576px) {
		.display-4 {
			font-size: 1.7rem;
		}
	}
}

#horaires {
	b {
		font-weight: 900;
	}
	@media (max-width: 768px) {
		.display-2 {
			font-size: 4rem;
		}
	}
	@media (max-width: 576px) {
		.display-2 {
			font-size: 2.1rem;
		}
		.display-4 {
			font-size: 1.7rem;
		}
		.display-5 {
			font-size: 1.3rem;
		}
	}
}

#map iframe{
	width: 100%;
	height:100%;
	@media (max-width: 1200px) {
		min-height: 80vmin;
	}
}




