extends templates/layout.pug

block body
	div.container-fluid.flex-wrap
		section.row
			div.col.text-center.jumbotron.bg-light
				h1.display-2 404: Not found
				h3.pb-3.display-4 Cette page n'existe pas... ou pas encore
				p.display-5 Notre site est toujours en construction, certains liens ne sont pas encore actifs. Désolé!
				a(href="/").btn.btn-primary Retour a la Page d'accueil