extends templates/layout.pug

block body
	div.container-fluid.flex-wrap
		section.row.bg-light
			div.col
				h1.display-3.text-center À propos
		section.row
			div.col.jumbotron
				h1.text-center L'eurêkafé, mais qu'est-ce que c'est.... ?
				h3.text-center.pb-3 un café pour les curieux bien sûre !
				p (contenu à venir)
		section.row.bg-dark.py-4
			div.col
				h2.text-center Mais qui à eu cette idée tordue ?
		section.row.py-4
			div.col
				h3 Arnold
				div
					img.float-right.m-2(src=require("./img/arnold.jpg") alt="Arnold" style="max-height: 40vh;max-width: 30vw;")
				p (contenu à venir)
		section.row.bg-light.py-4
			div.col
				h3 Sam
				div
					img.float-left.m-2(src=require("./img/sam.jpg") alt="Sam" style="max-height: 40vh;max-width: 30vw;")
					p (contenu à venir)
		section.row
			div.col.text-center.jumbotron.py-4
				a(href="/").btn.btn-primary Retour à la Page d'accueil