extends templates/layout.pug

block body
	section.row
		div.col.text-center.jumbotron.bg-dark
			h1.display-3 Votre inscription à la newsletter a bien étée prise en compte.
			p.display-5 Cependant cette version du site est toujours en construction et nous n'avons pas mis en place la newsletter. Votre adresse sera donc utilisée une unique fois pour confirmer votre inscription lors de la mise en place de la newsletter. Merci de votre compréhention.
			a(href="/").btn.btn-primary Retour a la Page d'accueil