extends templates/layout.pug

block body
	div.container-fluid.flex-wrap
		section.row
			div.col.text-center.jumbotron.bg-light
				p.h1 Votre inscription à la newsletter a bien été prise en compte
				a(href="/").btn.btn-primary.my-5 Retour à la Page d'accueil